{{#each this}}
<li class="col-xl-3 col-lg-6">
    <div class="photo-card">
        <a href="{{largeImageURL}}">
            <img src="{{webformatURL}}" alt="{{tags}}" width="350px">
        </a>
        <div class="stats d-flex justify-content-between">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}